.container{
    background-color: #BFBFBF;
}
.Header{
    background-color: #99A66A;
    
}
.Nav{
    background-color:#BFBFBF;
}

.Nav button{
    background-color: #99A66A;
}

.col-3 img{
    width: 90%;
    border-radius: 50%; 
}
