.container-fluid{
    background-color: #BFBFBF;
}
.Header{
    background-color: #99A66A;
    
}

.col-3 img{
    width: 90%;
    border-radius: 50%; 
    padding: 5px;
    
}

.col-5 p{
    text-align: right;
    font-size: 1.4vw;
    vertical-align: middle;
    
}
.col-5 a{
    color: black;
}
.col-5 a:hover{
    color: blanchedalmond;
}
h1{
    font-size: 4vw;
}
 
i {
    font-size: 2vw;
    vertical-align: middle;
}
.Nav{
    background-color:#BFBFBF;
}

.Nav button{
    background-color: #022601;
}

.nav-link{
    color: #022601;
}

.col-2{
    text-align: center;
    vertical-align: middle;
    border-right:  1px solid #022601 ;
    
}
.col-2 .Localisation{
    font-size: 0.6em;
    font-weight: normal;
}
.col-2 p{
    font-weight: bold;
}
.col-10 p{
    
    font-weight: bold;
}
.LocE{
    
    font-weight: normal;
    font-style: italic;
    
}
 h4{
     text-align: center;
     margin-top: 50px;
 }
 hr {
     width: 50%;
     align-items: center;
     color: #022601;
     height: 3px;
 }
/*Style du formulaire de Contact*/

 .TitreF{
    text-align: center;
    padding: 20px;
    vertical-align: center;
}
.FormulaireC{
    margin-top: 30px;
    margin-left:30%;
    margin-right: auto;

}
